
  body {
    font-family: 'Arial', sans-serif;
    background-color: #ffccd5; /* pastelowy róż */
    color: #ffffff;
    text-align: center;
    padding: 50px;
  }

  h1 {
    color: #ff69b4; /* intensywny róż */
  }

  p {
    font-size: 20px;
    color: #fff;
  }

  .zdj1 {
    width: 400px;
  }

  .zdj2 {
    width: 400px;
  }

  .button {
    margin-top: 20px;
    background-color: #ff69b4; /* intensywny róż */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }

  button {
    margin-top: 20px;
    background-color: #ff69b4; /* intensywny róż */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }

  .button:hover {
    background-color: #ff85a2; /* jaśniejszy róż */
  }

  body {
    overflow: hidden; /* Zapobiega przewijaniu strony */
  }
  .serce {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff69b4;
    transform: rotate(-45deg);
    opacity: 0.75;
  }
  .serce:before, .serce:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #ff69b4;
  }
  .serce:before {
    top: -10px;
    left: 0;
  }
  .serce:after {
    top: 0;
    left: 10px;
  }

  .zdj2{
    float: center;
  }

  .przyciskcenter {
    float: center;
  }

  .przycikjedzenie{
    margin-top: 120px;
  }

  #miejscaForm img
  {
    width: 200px;
    height: 200px;
  }
  #miejscaForm  input
  {
    float: left;
    margin: 10px 20px;
  }
  #miejscaForm div
  {
    float: left;
    margin: 10px 20px;
  }
  #miejscaForm img
  {
    float: left;
    margin: 10px 20px;
  }
